body {
  background-color: White;
  font-family: Sauce Tomato;
}
h1 {
  color: 	#FFC7B9;
  font-family: Sauce Tomato;
}
h4 {
  color: 	#FFC7B9;
  font-family: Sauce Tomato;
}
p {
  color: #081F1C;
  font-family: Sauce Tomato;
}
table
 {
  background-color: #081F1C;
  color: #8F9779;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
table.other
 {
  background-color: #8F9779;
  color: color;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
table.other002
 {
  background-color: #8403C4;
  color: color;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
table.other002
 {
  background-color: #6E90AF;
  color: color;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
table.other003
 {
  background-color: #B0BEA4;
  color: color;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
table.whibl
 {
  background-color: white;
  color: black;
  border-collapse: collapse;
  width: 100%;
  font-family: Sauce Tomato;
}
 {
  color: #8F9779;
  width: 10%;
  align : left;
  font-family: Sauce Tomato;
  font-size: large;
}

td.other
 {
  color: #081F1C;
  width: 10%;
  align : left;
  font-family: Sauce Tomato;
  font-size: large;
}
td.other002
 {
  color: #081F1C;
  width: 10%;
  align : left;
  font-family: Sauce Tomato;
  font-size: large;
}
td.other003
 {
  color: #081F1C;
  width: 10%;
  align : left;
  font-family: Sauce Tomato;
  font-size: large;
}
td.end
 {
  color: #081F1C;
  width: 10%;
  align : left;
  font-family: Sauce Tomato;
  font-size: large;
}


a
{
  color:	#FFC7B9;
  font-family: Sauce Tomato;
}
input
{
  color: 	#FFC7B9;
  font-family: Sauce Tomato;
  border-width: thin;
  background-color: coral;
  border-color: white;
}
hr.new1 {
  border-top: 1px solid red;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
